#right-half {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.charts-grid-wrapper {
  width: 100%;
  height: 100%;
  margin-right: 40px;
}

.charts-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
  
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 25px 30px white;
}

.charts-grid > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  width: 50vh;
  height: 30vh;
}

.calorie-count-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calorie-count-wrapper div {
  width: 85%;
  font-family: 'Dangrek', cursive;
}

.calorie-count-wrapper div h1 {
  line-height: 1;
}

.cal-count-top-row {
  display: flex;
}

.cal-count-second-row {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: -10px;
}

.cal-count-third-row {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  margin-top: 10px;
}

.cal-count-third-row h2 {
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.cal-count-third-row h2:nth-child(1) {
  background-color: #ff6e6c;
}

.cal-count-third-row h2:nth-child(2) {
  background-color: #fbdd74;
}

.cal-count-third-row h2:nth-child(3) {
  background-color: #67568c;
}

.cal-count-fourth-row {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 15px;
}

.cal-count-fourth-row h1 {
  display: flex;
  justify-content: center;
}

.cal-count-fourth-row h1::after {
  margin-left: 4px;
  content: 'g';
}

.counter {
  color: #1f1235;
  font-size: 3em;
}

.macros-chart-wrapper button {
  position: absolute;
  bottom: 0;
}

.actual-chart {
  position: relative;
  height: 100%;
  width: 100%;
}

.macros-chart-wrapper {
}

.gram-micros-chart-wrapper{
}

.milligram-micros-chart-wrapper {
}