.charts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.middle-third {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: -50px;
}

.calorie-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  font-family: 'Dangrek', cursive;
  color: #1f1235;
}

.macros-chart-wrapper {
  width: 250px;
}

#macros-chart {
  border: 1px solid black;
}

.micros-charts-wrapper {
  display: flex;
}

.gram-micros-chart-wrapper, .milligram-micros-chart-wrapper {
  border: 1px solid black;
  width: 250px;
  height: 200px;
}