html, body, section, article,
h1, h2, h3, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: inherit;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  /* text-decoration: underline; */
}

textarea {
  font-family: inherit;
  background: transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}