#left-half {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#slideshow-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4effc;
  border-radius: 25px;
  height: 100%;
  margin: 24px 30px 30px 24px;
  box-shadow: 10px 10px #67568c;
}

.user-input-slide-div {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(1, 100%, 71%, 0.50);
  top: 50%;
  padding: 10px;
  color: white;
  user-select: none;
  transition: 0.3s;
}

.prev:hover, .next:hover {
  background: rgb(255, 110, 107);
  transition: 0.3s;
}

.prev:active, .next:active {
  background: #67568c;
  transition: 0.3s;
}

.prev {
  border-radius: 0px 10px 10px 0px;
  left: 0;
}

.next {
  border-radius: 10px 0px 0px 10px;
  right: 0;
}

.user-input-slide-number {
  position: absolute;
  top: 40px;
  left: 30px;
  font-family: 'Noto Sans', sans-serif;
  color: #67568c;
  font-size: 12px;
}

.step-title {
  position: absolute;
  top: 20px;
  left: 80px;
  font-family: 'Dangrek', cursive;
  color: #1f1235;
  font-size: 30px;
}

.user-input-slide-number, .step-title {
  color: #1f1235;
  font-weight: 900;
}

.dots-wrapper, .welcome-dots-wrapper {
  position: absolute;
  bottom: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .dot:hover {
  background-color: hsla(1, 100%, 71%, 0.50) !important;
}

.choices-div {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 85%;
  height: 70%;
  margin: auto;
}

.user-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbdd74;
  border-radius: 15px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  transition: 0.2s;
  width: 20%;
  height: 24%;
}

.user-input-button:hover {
  translate: -5px -5px;
  box-shadow: 5px 5px 0px #67568c;
  transition: 0.2s;
}

.user-input-button:active {
  translate: 0;
  box-shadow: none;
  background-color: #ff6e6c;
  transition: 50ms;
}

.selected-items-display-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 19%;
}

#selected-items-display {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: 4px;
  border-top: 4px solid #f4effc;
  border-bottom: 4px solid #f4effc;
}

#selected-items-display button {
  border-radius: 10px;
  border-width: 2px;
  height: 45%;
  width: calc(100%/5.2);
  font-size: 13px;
  margin: 2px 4px 2px 0;
  padding: 0 6px;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#selected-items-display button:hover {
  text-decoration: line-through;
  box-shadow: none;
  transition: 0.2s;
  translate: -2px -2px;
  box-shadow: 2px 2px 0px #67568c;
}

#selected-items-display button:active {
  translate: 0;
  box-shadow: none;
  text-decoration: line-through;
  transition: 50ms;
}

#reset-meal {
  background: none;
  border: none;
  cursor: pointer;
  color: #67568c;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

#reset-meal:hover {
  text-decoration: underline;
}

#reset-meal:active {
  text-decoration: underline;
  color: black;
}

#selected-items-display::-webkit-scrollbar {
  width: 10px;
}

#selected-items-display::-webkit-scrollbar-track {
  background: #f4effc;
}

#selected-items-display::-webkit-scrollbar-thumb {
  background: #67568c;
}

/* Handle on hover */
#selected-items-display::-webkit-scrollbar-thumb:hover {
  background: #1f1235;
}