@import url(./styles/reset.scss);
@import url(./styles/charts.scss);
@import url(./styles/user-input.scss);

body {
  background-color: #FFFFFF;
  color: white;
}

header {
  background-color: #ff6e6c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}

header h1 {
  font-size: 48px;
  font-family: 'Dangrek', cursive;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

main section {
  border: 1px solid lightblue;
  height: 600px;
}