@import url(./styles/user-input.scss);

ul {
  padding: 0;
  margin: 0;
}

header {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  h1 {
    padding: 0;
    margin: 0;
  }
}

main {
  // background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  section {
    border: 1px solid black;
  }
  overflow: hidden;
}

.charts-wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 650px;
  width: 50%;
}

.calorie-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    margin-right: 5px;
  }
}

.macros-chart-wrapper {
  width: 250px;
  height: 250px;
}

#macros-chart {
  border: 1px solid black;
}

.gram-micros-chart-wrapper, .milligram-micros-chart-wrapper {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}